.container{
    display: flex;

    background-color: rgb(219, 219, 219);
    border: 5px;
    border-radius: 20px 20px 20px 20px;
    padding: 5px;
    box-sizing: border-box;
    
}

.perfil{
    display: inline-block;
    width: 400px;
    height: 70px;
    padding-top: 30px;
}

.botao{
    width: 100px;
    height: 150px;
    padding-top: 50px;
}

.frase{
    font-size: 17px;
    color: rgb(23, 1, 1);
    padding-right: 85px;
    display: inline-block;
}
.arrobas{
    font-size: 15px;
    padding-right: 85px;
}

.foto{
    border-radius: 200px 200px 200px 200px;
    width: 70px;
    height: 70px;
    padding-right: 6px;
}